<div *ngIf="labelsTabled && labelsTabled.length > 0">
  <blockquote class="blockquote bq-elegant" *ngIf="showHelp">
    <p class="bq-title">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      Give me feedback on my suggestions.
    </p>
    <p>
      New suggestions pulse and can be navigated between with the arrow keys or buttons above. Once you're
      satisfied with a region, you can "lock in" your feedback by selecting that region and pressing enter (you can make
      more changes later, but it'll stop the pulsing). 
      <br>You can change the labels with the buttons below, or adjust the boundaries/location
      by dragging above. You can also delete a region by clicking the
      <i class="fa fa-times-circle"></i> in the top right corner.
    </p>
  </blockquote>
  <h5></h5>
  <p>
  </p>
  <div class="row relabel" *ngFor="let labelRow of labelsTabled">
    <div class="col-12 text-center">
      <span *ngFor="let label of labelRow">
        <button (click)="updateLabel(label)" class="btn btn-elegant">
          {{label}}
        </button>
      </span>
    </div>
  </div>
  <div class="row submit">
    <div class="col-12 text-center">
      <button (click)="submit()" class="btn btn-elegant">Submit</button>
    </div>
  </div>
</div>