<div *ngIf="labelsTabled && labelsTabled.length > 0">
  <div class="row relabel" *ngFor="let labelRow of labelsTabled">
    <div class="col-12 text-center">
      <span *ngFor="let label of labelRow">
        <button (click)="updateLabel(label)" class="btn btn-elegant">
          {{label}}
        </button>
      </span>
    </div>
  </div>
  <div class="row submit">
    <div class="col-12 text-center">
      <button (click)="submit()" class="btn btn-elegant">Submit</button>
    </div>
  </div>
</div>