<div *ngIf="regions && regions.length > 0">
  <div class="row" *ngFor="let region of regions; let i = index">
    <div class="col-6">
      <p [ngStyle]="{'font-weight': region.id == selectedRegionId ? 'bold' : 'normal'}">Region #{{i}} ({{region.id}}):</p>
      <p>Start: {{region.start | number:'1.0-1'}} sec.</p>
      <p>End: {{region.end | number:'1.0-1'}} sec.</p>
    </div>
    <div class="col-6">
      <div class="md-form">
        <input #box type="text" (keyup)="onKey(region.id, box.value)" (focus)="onFocus(region.id)">
      </div>
    </div>
  </div>
  <br>
  <button (click)="submit()" class="btn btn-elegant">Submit</button>
</div>