<div *ngIf="!submitted && regions">
  <div class="row" *ngFor="let region of regions; let i = index">
    <div class="col-6">
      <p [ngStyle]="{'font-weight': region.id == selectedRegionId ? 'bold' : 'normal'}">Region #{{i}} ({{region.id}}):</p>
      <p>Start: {{region.start | number:'1.0-1'}} sec.</p>
      <p>End: {{region.end | number:'1.0-1'}} sec.</p>
    </div>

    <div class="col-6">
      <input #box type="text" (keyup)="onKey(box.value, region.id)">
    </div>
  </div>
  <br>
  <button *ngIf="regions.length > 0" (click)="submit()">Submit</button>
</div>