<blockquote class="blockquote bq-elegant" *ngIf="showHelp">
  <p class="bq-title">
    <i class="fa fa-question-circle" aria-hidden="true"></i>
    Show me examples of what you're looking for.</p>
  <p>
    Add an example by dragging over a region on the spectrogram and then labelling it below. You only need one example per type
    of event.
  </p>
</blockquote>
<div *ngIf="regions && regions.length > 0">
  <div class="row" *ngFor="let region of regions; let i = index">
    <div class="col-6">
      <p [ngStyle]="{'font-weight': region.id == selectedRegionId ? 'bold' : 'normal'}">Region #{{i}} ({{region.id}}):</p>
      <p>Start: {{region.start | number:'1.0-1'}} sec.</p>
      <p>End: {{region.end | number:'1.0-1'}} sec.</p>
    </div>
    <div class="col-6">
      <div class="md-form">
        <input #box type="text" (keyup)="onKey(region.id, box.value)" (focus)="onFocus(region.id)">
      </div>
    </div>
  </div>
  <br>
  <button (click)="submit()" class="btn btn-elegant">Submit</button>
</div>