<div class="container-fluid">
    <app-input-audio [regions]="regions" [selectedRegionId]="selectedRegionId" (onUpdateRegions)="onUpdateRegions($event)" (onSelectRegion)="onSelectRegion($event)"></app-input-audio>
    <br>
    <br>
    <app-query-labeling [regions]="regions" [selectedRegionId]="selectedRegionId" (onUpdateLabel)="onUpdateLabel($event)" (onSubmit)="onSubmit()"></app-query-labeling>
    <br>
    <br>
    <app-feedback [regions]="regions"  [selectedRegionId]="selectedRegionId" ></app-feedback>
</div>