<div class="container-fluid">
    <app-input-audio [labels]="labels" [selectedRegionId]="selectedRegionId" (onUpdateRegions)="onUpdateRegions($event)" (onSelectRegionId)="onSelectRegionId($event)"></app-input-audio>
    <br>
    <br>
    <app-query-labeling [regions]="regions" [selectedRegionId]="selectedRegionId" (onUpdateLabels)="onUpdateLabels($event)" (onSelectRegionId)="onSelectRegionId($event)"></app-query-labeling>
    <br>
    <br>
    <app-feedback [labels]="labels" (onSelectRegionId)="onSelectRegionId($event)"></app-feedback>
</div>