<span class="ruler"></span>
<div class="container-fluid" (window:keydown)="handleKey($event)" (window:resize)="onResize($event)">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h1 class="display-4">ISED-MC</h1>
                <p>Interactive Sound Event Detection - Multiple Classes</p>
            </div>
            <app-loading *ngIf="loading"></app-loading>
            <app-file-upload *ngIf="!audio" [showHelp]="showHelp" (onOpenVisualization)="onOpenVisualization($event)"></app-file-upload>
            <app-input-audio *ngIf="audio" [audio]="audio" [regions]="regions" [selectedRegionId]="selectedRegionId" [visualization]="visualization"
                (onUpdateRegions)="onUpdateRegions($event)" (onSelectRegion)="onSelectRegion($event)" (onLoading)="onLoading($event)"></app-input-audio>
            <br>
            <br>
            <app-query-labeling *ngIf="audio && !hasSubmitted" [regions]="regions" [selectedRegionId]="selectedRegionId" [showHelp]="showHelp"
                (onUpdateLabel)="onUpdateLabel($event)" (onSelectRegion)="onSelectRegion($event)" (onSubmit)="onInitiateSession()"></app-query-labeling>
            <br>
            <br>
            <app-feedback *ngIf="hasSubmitted" [labels]="labels" [regions]="regions" [selectedRegionId]="selectedRegionId" [showHelp]="showHelp"
                (onUpdateLabel)="onUpdateLabel($event)" (onSubmit)="onSubmitFeedback()"></app-feedback>
        </div>
    </div>
</div>