body {
    background-color: rgb(255, 255, 255);
}

.wavesurfer-region {
    background-color: rgb(0, 0, 0);
    opacity: .3;
}

.wavesurfer-region.new {
    animation: pulse_opacity .5s infinite alternate;
}

@keyframes pulse_opacity {
    0% {
        opacity: .3;
    }

    100% {
        opacity: .6;
    }
}

.wavesurfer-region.selected {
    animation: none;
    opacity: .6;
} 

// Make tags not all caps.
tag {
    text-transform: none !important;
}