body {
    background-color: rgb(255, 255, 255);
}

.wavesurfer-region {
    background-color: rgba(0, 0, 0, .3);
}

.wavesurfer-region.old {
    background-color: rgba(0, 0, 0, .1);
}

.wavesurfer-region.selected {
    background-color: rgba(0, 0, 0, .6);
} 

// Make tags not all caps.
tag {
    text-transform: none !important;
}